*{
    margin: 0;
    padding: 0;
}

.nav-header{
    padding:20px;
    background-color: rgb(243, 140, 140);
    color: white;
    box-shadow: 20px 20px 38px 9px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:40px;
    width:20px;
    height:20px;
    border:20px solid black;
    border-radius:50%;
    text-shadow: 2px 0px 0px rgba(128, 0, 64, 1), 
               3px 2px 0px rgba(77, 0, 38, 0.5), 
			   3px 0px 3px rgba(255, 0, 43, 1), 
			   5px 0px 3px rgba(128, 0, 21, 1), 
			   6px 2px 3px rgba(77, 0, 13, 0.5), 
			   6px 0px 9px rgba(255, 85, 0, 1), 
			   8px 0px 9px rgba(128, 42, 0, 1), 
			   9px 2px 9px rgba(77, 25, 0, 0.5), 
			   9px 0px 18px rgb(87, 211, 53), 
			   11px 0px 18px rgba(128, 106, 0, 1), 
			   12px 2px 18px rgba(77, 66, 0, 0.5), 
			   12px 0px 30px rgb(43, 11, 186), 
			   14px 0px 30px rgba(106, 128, 0, 1), 
			   15px 2px 30px rgba(64, 77, 0, 0.5), 
			   15px 0px 45px rgba(128, 255, 0, 1), 
			   17px 0px 45px rgba(64, 128, 0, 1), 
			   17px 2px 45px rgba(38, 77, 0, 0.5);
}
i{
    font-size:30px;
}
span{
    font-size: 40px;
}
.list{
    text-shadow: 2px 0px 0px rgba(128, 0, 64, 1), 
               3px 2px 0px rgba(77, 0, 38, 0.5), 
			   3px 0px 3px rgba(255, 0, 43, 1), 
			   5px 0px 3px rgba(128, 0, 21, 1), 
			   6px 2px 3px rgba(77, 0, 13, 0.5), 
			   6px 0px 9px rgba(255, 85, 0, 1), 
			   8px 0px 9px rgba(128, 42, 0, 1), 
			   9px 2px 9px rgba(77, 25, 0, 0.5), 
			   9px 0px 18px rgba(255, 213, 0, 1), 
			   11px 0px 18px rgba(128, 106, 0, 1), 
			   12px 2px 18px rgba(77, 66, 0, 0.5), 
			   12px 0px 30px rgba(212, 255, 0, 1), 
			   14px 0px 30px rgba(106, 128, 0, 1), 
			   15px 2px 30px rgba(64, 77, 0, 0.5), 
			   15px 0px 45px rgba(128, 255, 0, 1), 
			   17px 0px 45px rgba(64, 128, 0, 1), 
			   17px 2px 45px rgba(38, 77, 0, 0.5);
    display: flex;
    justify-content: center;
    gap:50px;
    list-style-type: none;
    font-size: 28px;
}
li{
    cursor: pointer;
}
.main-heading{
    text-align: center;
    font-size: 30px;
    margin:10px;

}

.btn-div{
    text-align: center;
}

.button{
    width:150px;
    padding: 20px;
    border-radius: 10px;
    border:none;
    cursor:pointer;
    margin: 10px auto;
    font-size: 20px;
    background-color: rgb(104, 195, 213);
    color:white;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#container{
    margin: 10px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:40px;
}

.item{
    border-radius:20px;
    width:300px;
    height:250px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.item-image>img{
    border-radius: 20px 20px 0px 0px;
    width:300px;
    height: 200px;
    align-items: center;
}

.details{
    display:flex;
    justify-content: space-around;
    font-size:20px;
}
